
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../public/stylesheet/main.css">
	<title>yelpCamp</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">yelpCamp</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03" >
    <ul class="nav navbar-nav  navbar-right">
       <% if(!currentuser){%>
      <li class="nav-item active">
        <a class="nav-link" href="/register">sign up <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">login</a>
      </li>
    
       <% }else { %>
        <li><a href="#" class="nav-link">singed up as <%=currentuser.username%></a></li>
      <li class="nav-item">
        <a class="nav-link" href="/logout" tabindex="-1" aria-disabled="true">logout</a>
      </li>
       <% }%>
    </ul>
    
  </div>
</nav>




	


</nav>